@use '../src/lib.scss' as *;

#navigation-menu {
  margin: 1rem;
  border-radius: 1rem;
  background-color: $red-color;

  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .hamburger-btn {
    background: none;
    border: none;
    padding: 1rem;
    color: $text-color-main;
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
  }
  .nav-logo {
    display: flex;
  }
  a {
    text-decoration: none;
    color: $text-color-main;
    font-weight: bold;
  }
}
