@use '../src/lib.scss' as *;

@mixin listItemStyle {
  display: grid;
  grid-template-columns: 2.5rem auto;
  align-items: center;
  max-width: 95%;
  .modal-open {
    grid-column: 1;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }
  .modal-question {
    grid-column: 2;
    margin: 0;
  }
  .modal-answer {
    grid-column: 1/3;
    margin: 0.2rem 1rem 1rem 0;
    font-size: 0.8em;
    border-bottom: 3px solid rgba(128, 128, 128, 0.3);
    padding-bottom: 1em;
  }
}

.info-modal {
  background-color: $background-div-color;
  border-radius: 15px;
  margin: 1rem;

  .modal-title {
    margin: 0.5em 0;
    padding-left: 1em;
    padding-top: 0.6em;
    font-size: 1.2em;
    font-weight: bold;
  }

  .info-modal-list {
    list-style-type: none;
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 0 0 0.5rem 1.5rem;

    .modal-item-0 {
      grid-row: 1;
      @include listItemStyle;
    }
    .modal-item-1 {
      grid-row: 2;
      @include listItemStyle;
    }
    .modal-item-2 {
      grid-row: 3;
      @include listItemStyle;
      @include breakpointMinWidth(1000px) {
        display: none;
      }

      .modal-answer {
        color: $text-color-secondary;
      }

      .open-times {
        @include woop;
        @media screen and (min-width: $screen-mini) {
          max-width: 400px;
        }
      }
    }
  }
}
