@use './pages/src/lib.scss' as *;
@use './pages/index/index.scss';
@use './pages/kids/kids.scss';
@use './pages/about/about.scss';
@use './pages/index/header.scss';

* {
  font-family: 'Poppins', sans-serif;
}
html {
  background-color: $background-color;
  color: $text-color-main;
}
body {
  padding: 0;
  margin: 0;
}
