@use './pages/index/index.scss';

* {
  margin: 0;

  padding: 0;

  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}
