@use './pages/src/lib.scss' as *;
@use './pages/index/index.scss';
@use './pages/kids/kids.scss';
@use './pages/about/about.scss';
@use './pages/index/header.scss';
@use './pages/index/infoModal.scss';
@use './pages/index/footer.scss';
@use './pages/index/movies.scss';

* {
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
}
html {
  background-color: $background-color;
  color: $text-color-main;
}
body {
  padding: 0;
  margin: 0;
  max-width: $screen-max;
  margin: auto;
}
