//Project colors

$red-color: #fc263a;
$background-color: #1a1a1a;
$background-div-color: #2d2d2d;
$text-color-main: #f6f6f6;
$text-color-secondary: #a8a8a8;
$screen-mini: 500px;
$screen-medium: 1280px;
$screen-max: 1500px;

@mixin breakpoint($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin breakpointMinWidth($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin woop {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  .open-times-day,
  .open-times-date,
  .open-times-time {
    margin: 0.3rem;
    color: $text-color-main;
  }
  .open-times-day {
    grid-template-columns: 1;
  }
  .open-times-date {
    grid-template-columns: 2;
    justify-content: flex-start;
  }
  .open-times-time {
    grid-template-columns: 3;
    justify-content: flex-end;
    margin-left: auto;
  }
}
